* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: large;
  /* font-weight: 100; */
}

body {
  /* color: #333; */
  line-height: 1.6;
  background-color: #f9f9f9;
}



.topbar {
  background-color: #e65100;
  color: white;
  padding: 1px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  font-size: small;
}

.containerbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  left: 20px;
}




.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 40px;

}

.logo i {
    margin-right: 10px;
    color: white;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 50px;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/image.png') center/cover no-repeat;
    padding: 150px 80px;
  color: white;
  text-align: center;
  height: 200px;
  /* height: 50px; */
}

.menu-list {
  display: none;
  background: #fff;
  position: absolute;
  top: 60px;
  right: 10px;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
}

.menu-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list ul li {
  border-bottom: 1px solid #ddd;
  margin-left: 20px;
}

.menu-list ul li a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  left: 20px;
}

.menu-list ul li a:hover {
  background: #f4f4f4;
}




.search-bar {
  display: flex;
  justify-content: center;
  margin-top: -80px;
  gap: 10px;
}

.search-bar input {
  padding: 20px;
  width: 250px;
  height: 45px;
  /* max-width: 400px; */
  border: 1px solid white;
  border-radius: 50px;
}

.search-bar button {
  height: 46px;
  width: 46px;
  padding: 10px 12px;
background-color: #e86b20;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}
.search-bar  :hover{
  color:#e86b20; ;
}
input::placeholder {
  font-size: 18px;
  color: #999;
}


button:hover {
  background-color: white;
}

.hero-text {
  text-align: center;
  margin-top: 20px;
}

.hero-text h1 {
  font-size: 25px;
  margin-bottom: 5px;
  margin-right: 35px;
}

.hero-text p {
  font-size: 20px;
  color: white;
  font-size: medium;
  line-height: 1;
  /* Ensure no unwanted top margin on the paragraph */
  margin-top: 0;
}

.dia {
  margin-top: 50px;
  margin-left: 60px;
  font-size: xx-large;
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 30px;
  margin-left: 200px;
  /* gap: 20px; */
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 30px;
  margin-right: 200px;
  /* gap: 20px; */
}

.card,
.meal {
  width: 17%;
  height: 255px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  /* padding: 10px; */
  cursor: pointer;
  transition: 0.3s;
}

.card:hover,
.meal:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.meal h3,
.card h3 {
  font-size: 13px;
  /* Change text size here */
  font-weight: 100px;
  text-align: center;
  line-height: normal;
  color: #333;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


#desc-box {
  width: 90%;
  margin: 20px auto;
  background: #f8f8f8;
  border: 1px solid #FFA500;
  /* Orange border */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

#desc-box p {
  font-size: 17px;
  line-height: 1.4;
  color: #333;
  margin: 0;
}

.meal-title {
  width: 90%;
  /* margin: 40px auto 10px auto; */
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: left;
  margin-left: 65px;
}


#mealContainer {
  width: 95%;
  margin-left: 70px;
}



.underlines {
  width: 50px;
  /* height: 4px; */
  background-color: #e86b20;
  /* orange underline */
  margin-bottom: 50px;
  padding-bottom: 4px;
  margin-left: 65px;
}