* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     font-family: sans-serif; 
    font-size: large;
    /* font-weight: 100; */
}


body {
    /* background-color: #fefefe;
    color: #333; */
    line-height: 1.6;
    background-color: #f9f9f9
}



.topbar {
    background-color: #ff6347;
    color: white;
     padding: 1px;
    position: sticky; 
    top: 0;
    left: 0;
    z-index: 999;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px ;

}


.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-left: 40px;
   

}

.logo i {
    margin-right: 10px;
    color: white;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 30px ;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/image.png') center/cover no-repeat;
    padding: 150px 80px;
    color: white;
    text-align: center;
   height: 200px;

}

.menu-list {
    display: none;
    background: #fff;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 300px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
}

.menu-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list ul li {
    border-bottom: 1px solid #ddd;
    margin-left: 20px;
}

.menu-list ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.menu-list ul li a:hover {
    background: #f4f4f4;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-top: -80px;
    gap: 10px;
}

.search-bar input {
    padding: 20px;
    /* width: 40px; */
    height: 45px;
    /* max-width: 400px; */
    border: 1px solid white;
    border-radius: 50px;
}

input::placeholder {
    font-size: 18px;
    color: #999;
}

.search-bar button {
    height: 46px;
    width: 46px;
    padding: 10px 12px;
    background-color: #ff6347;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

button:hover {
    color: #ff6347 ;
    background-color: white;
}

.hero-text h1 {
    font-size: 30px;
}

.hero-text p {
    font-size: 20px;
    color: white;
}

#categories{
    background-color: #f9f9f9;
    padding: 50px 60px;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;            
    /* padding-left: 120px; */
    column-gap: 15px;
    margin-left: 80px;
}

.heading-container {
  text-align: left;
}

.heading {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #000;
  margin-bottom: 6px;
  margin-left: 78px;
  margin-top: 20px
}

.underline {
  width: 90px;
  height: 4px;
  background-color: #e86b20; /* orange underline */
 margin-left: 78px;

}

 #categories h2 {
        font-size: 24px;
        margin-bottom: 30px;
        position: relative;
        display: inline-block;
    }

#categories h2::after {
        content: " ";
        display: absolute;
        height: 3px;
        width: 50%;
        background-color: rgb(255, 136, 0);
        margin-top: 8px;
        height: 3px;
        background-color: rgb(255, 136, 0);
    }

.card {

    position: relative;
  background-color: white;
   box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 10px; 
   margin: 0px;
   transition: transform 0.3s ease;
   width: 300px;
   border: none;
}

.card .tag {
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: orangered;
    color: white;
    font-size: 13px;
    padding: 1px 12px;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.card img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.4s ease, filter 0.4s ease;
}

.card:hover img {
    transform: scale(0.9);
    filter: brightness(1.05);
}